body {
  margin: 0;
  font-family: "Montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  font-family: "Montserrat" !important;
}

code {
  font-family: "Montserrat" !important;
}
